---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"d35b212e97f7d17ef03feefbef4db762"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-13T19:08:20Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foobar","snmp_index":null,"state":"unknown","updated_at":"2012-06-13T19:08:20Z","updater_id":null}'
  recorded_at: Thu, 14 Jun 2012 02:08:20 GMT
recorded_with: VCR 2.2.1
