---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"description":"foo","label":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: !!null 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/24
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"7ef608d4b977e9e177901ae0e5e1f13d"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-14T01:44:52Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"foo","device_id":null,"id":24,"label":"bar","snmp_index":null,"state":"unknown","updated_at":"2012-06-14T01:44:52Z","updater_id":null}'
  recorded_at: Thu, 14 Jun 2012 01:44:52 GMT
recorded_with: VCR 2.2.0
